[submodule "libs/cft"]
	path = libs/cft
	url = https://github.com/c4v4/cft
[submodule "libs/kseqpp"]
	path = libs/kseqpp
	url = https://github.com/cartoonist/kseqpp.git
[submodule "libs/megahit"]
	path = libs/megahit
	url = https://github.com/voutcn/megahit.git
[submodule "libs/spoa"]
	path = libs/spoa
	url = https://github.com/rvaser/spoa.git
