[submodule "libs/cft"]
	path = libs/cft
	url = https://github.com/c4v4/cft
[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/google/googletest.git
[submodule "libs/kseqpp"]
	path = libs/kseqpp
	url = https://github.com/cartoonist/kseqpp.git
[submodule "libs/megahit"]
	path = libs/megahit
	url = https://github.com/voutcn/megahit.git
[submodule "libs/progressbar"]
	path = libs/progressbar
	url = https://github.com/gipert/progressbar/
[submodule "libs/rapidfuzz-cpp"]
	path = libs/rapidfuzz-cpp
	url = https://github.com/rapidfuzz/rapidfuzz-cpp.git
[submodule "libs/spoa"]
	path = libs/spoa
	url = https://github.com/rvaser/spoa.git
